@model IEnumerable<DE_Store_Program.Models.ReportsAndAnalysis>

@{
    ViewBag.Title = "ReportandAnalysisData";
}

<body style="background-color:lightpink">
</body>

<h2>ReportandAnalysisData</h2>


<p>
    @Html.ActionLink("Create New", "Create")
</p>
<body style="font:bolder">

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ReportID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShopName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ItemsSold)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerFootFall)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ReportID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ShopName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ItemsSold)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CustomerFootFall)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                </td>
            </tr>
        }

    </table>
</body>